<br>
<br>
<br>
<br>
<br>
<br>

{{#each data}} Title: {{this.title}} <br>
<img src="{{this.prev_img_url}}" alt=""> <br>
<img src="{{this.banner_img_url}}" alt=""> <br>
Body: {{{this.article}}} <br>
Author: {{this.author}} <br>
Image:<img src="{{this.author_img_url}}" alt=""> <br>
<hr> {{/each}}

{{!-- <div class="container-fluid white_bg">
    <div class="row-fluid product_Screenshot_block">
        <div class="container">
            <!-- <h2 class="red_text">Our Blogs</h2> -->

            {{#each data}}
            <div class="row">
                <h2 class="group_heading">Selling into the HR Function</h2>

                <div class="col-md-4 blog_card_container">
                    <div class="blog_card_block">
                        <div class="blog_card_image">
                            <img alt="Slintel Image" src="{{this.prev_img_url}}">
                            <span class="text_on_image">
                                <span class="pull-left">Ranjana</span>
                                <span class="pull-right">28 Feb 2018</span>
                            </span>
                        </div>
                        <div class="blog_card_footer">
                            <h4 title="{{this.title}}">{{this.title}}</h4>
                            <p>{{this.prev_content}}</p>
                            <a type="button" class="btn btn-primary" href="/blog/{{this.id}}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}




            <hr>
        </div>
    </div>
</div> --}}


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonial_post_block">

        <div class="item active">
            <div class="carousel-caption testimonial_post_1">
                <h3>"Slintel captures a whole bunch of intel that helped us target a niche set of personas and customize campaigns
                    to their areas of interest. We were able to significantly improve our lead engagement rates"</h3>
                <p>- Alexey Semeney, CEO DevTeamSpace</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption testimonial_post_2">
                <h3>"Slintel provided us the ammunition required to launch highly targeted marketing and sales campaigns in a
                    space where there is not much information available publicly. It helped improve the efficiency of our
                    sales reps and we were able to close more deals faster. Their customer service is top notch"</h3>
                <p>- Laura Kleffner, Marketing Director, Practice Match</p>
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>



<script type="text/javascript">
    $(document).ready(function () {

        // pageload animation start
        window.sr = ScrollReveal();
        // sr.reveal('.blog_card_container');
        // pageload animation ends

        $('.carousel').carousel({
            interval: 8000
        });



    });

</script>