<div class="container-fluid white_bg">

    <div class="row career_page_banner_block">
        <img alt="Slintel Image" src="images/career.png">
        <div class="career_page_banner_text">
            <button class="btn hidden-xs hidden-sm" ng-click="scrollToForm()">Find your team</button>
        </div>
    </div>

    <div class="career_job_block"></div>

    <div class="row-fluid product_Screenshot_block">
        <div class="container career_page">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading career_tabs">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                            <div class="career_page_heading">
                                <h3>Operations​ ​Manager</h3>
                                <p>at Slintel</p>
                            </div>
                        </button>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body career_block">
                            <h4>Job Description</h4>
                            <p>Operations is the most critical function at Slintel with a high focus on process and efficiency.
                                The Operations Manager’s role will be twofold – manage the data operations team and own related
                                processes as well as provide administrative support for functions such as HR and Finance.
                                This is a high-intensity role that requires equal parts MS excel and people management skills.
                                Like any startup, the person will don multiple hats and will double up and the ops manager
                                for other functions within Slintel.</p>
                            <br>
                            <p>What​ ​the​ ​role​ ​entails:</p>
                            <ul>
                                <li>Setting up new processes or tweaking old processes for the function to perform in a more
                                    optimized way</li>
                                <li>Figuring out ‘hacks’ to resolve issues or find better ways of capturing data</li>
                                <li>Monitoring, fire-fighting (there will be lots of it) and providing guidance to the team real-time</li>
                                <li>Understanding the nuances of the tools, tactics and procedures involved</li>
                                <li>Scaling up the team quickly and efficiently as required by the business</li>
                                <li>Training the data ops team on new tools and processes</li>
                                <li>Being hands on in terms of tools that can be used to make the data capture and authentication
                                    efficient
                                </li>
                                <li>Interacting with clients to understand their data needs and deliver weekly reports and output
                                    files
                                </li>
                                <li>Taking care of internal operations requirements such as hiring, financial paperwork such
                                    as invoices, admin responsibilities, etc. as necessary</li>
                            </ul>

                            <br>
                            <p>You should definitely have:</p>
                            <ul>
                                <li>Advanced, hands-on experience using MS-excel or Google spreadsheets</li>
                                <li>The ability to juggle many things at the same time keeping in mind client deadlines</li>
                                <li>The ability to keep a cool head and figure out solutions under pressure/crisis</li>
                            </ul>

                            <p>We are passionate about what we do and are looking for people who can thrive in an ambiguous
                                and high-pressure environment. If you are looking to create a company from scratch in an
                                atmosphere that encourages creativity, hard work, mistakes and learning, we'd love to speak
                                with you!</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading career_tabs">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                            <div class="career_page_heading">
                                <h3>​​Sales​ ​Development​ ​Director</h3>
                                <p>at Slintel</p>
                            </div>
                        </button>

                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body career_block">
                            <h4>Job Description</h4>
                            <p>Slintel Sales team is responsible for successfully selling the Slintel value proposition to prospects.
                                Target clients will largely consist of HR tech companies. As one of the first leaders in
                                the sales team, you will need to be both a talented manager and an enterprising sales leader.
                                You'll be responsible for leading, growing, and developing sales managers on your team.</p>

                            <br>
                            <p>What​ ​the​ ​role​ ​entails:</p>
                            <ul>
                                <li>Establishing sales objectives by forecasting and projecting expected sales</li>
                                <li>Designing and Implementing sales programs to deliver Slintel growth plans</li>
                                <li>Maintaining sales volume, product mix, and selling price by keeping current with supply and
                                    demand, changing trends, economic indicators, and competitors.</li>
                                <li>Maintaining sales staff by recruiting, onboarding, and training employees</li>
                                <li>Generating and closing new business consistently at or above quota level</li>
                                <li>Building relationships with prospects and internal stake holders to grow new business</li>
                                <li>Working collaboratively with marketing and technology departments to execute sales strategy
                                    as the firm introduces enhancements to existing solutions and/or releases new products</li>
                            </ul>

                            <br>
                            <p>You should definitely have:</p>
                            <ul>
                                <li>Have 1-4 years of software sales experience, ideally in the SaaS space</li>
                                <li>Have experience in closing a wide scope of deal sizes, big money deals to transactional quick
                                    hits
                                </li>
                                <li>Some experience with a startup</li>
                                <li>Be comfortable with a hybrid sales environment (primarily inside, but outside when necessary)</li>
                                <li>Evidence that you are a Top Producer</li>
                            </ul>

                            <p>We are passionate about what we do and are looking for people who can thrive in an ambiguous
                                and high-pressure environment. If you are looking to create a company from scratch in an
                                atmosphere that encourages creativity, hard work, mistakes and learning, we'd love to speak
                                with you!</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading career_tabs">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                            <div class="career_page_heading">
                                <h3>Marketing​ ​Director</h3>
                                <p>at Slintel</p>
                            </div>
                        </button>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body career_block">
                            <h4>Job Description</h4>
                            <p>As a marketer at Slintel, you’re on a mission to spread the word of Slintel far and wide and
                                drive inbound interest from prospects. You’ll manage all things content, social media, and
                                communications for us. As a leader on the Marketing team, you will need to be both a talented
                                manager and an analytically minded contributor. You will need to be confident conducting
                                independent analyses to determine performance and determine future strategy.</p>

                            <br>
                            <p>What​ ​the​ ​role​ ​entails:</p>
                            <ul>
                                <li>Develop and own the end-to-end marketing strategy, implementing and adapting the go-to-market
                                    strategy
                                </li>
                                <li>Execute on a high growth demand generation strategy - relying primarily on inbound organic
                                    channels to drive growth</li>
                                <li>Motivate team to hit aggressive demand goals to support our high growth business</li>
                                <li>Test, learn, and implement an approach to acquire users of our free offerings</li>
                                <li>Manage and deploy program budgets to drive scale from our highest ROI channels</li>
                                <li>Ensure the growth of Slintel’s brand awareness</li>
                                <li>Measure full funnel conversion to adapt tactics</li>
                                <li>Be an exceptional manager that coaches team to be autonomous and successful</li>
                                <li>Deploy paid marketing channels to augment organic growth</li>
                                <li>Partner closely with the Sales team to effectively monetize demand</li>
                            </ul>

                            <br>
                            <p>You should definitely have:</p>
                            <ul>
                                <li>2-5 years of experience in Marketing</li>
                                <li>A strong background in using data to inform acquisition strategy</li>
                                <li>Preferably, a history delivering effective marketing strategies to the HR tech space</li>
                                <li>Experience in multi-channel acquisition strategies, including content, search, social, paid
                                    and affiliate marketing.</li>
                                <li>A passion for great campaigns and a history implementing a marketing automation platform</li>
                                <li>The ability to juggle multiple company-wide goals and working with multiple teams at once</li>
                            </ul>

                            <p>We are passionate about what we do and are looking for people who can thrive in an ambiguous
                                and high-pressure environment. If you are looking to create a company from scratch in an
                                atmosphere that encourages creativity, hard work, mistakes and learning, we'd love to speak
                                with you!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonial_post_block">

        <div class="item active">
            <div class="carousel-caption testimonial_post_1">
                <h3>"Slintel captures a whole bunch of intel that helped us target a niche set of personas and customize campaigns
                    to their areas of interest. We were able to significantly improve our lead engagement rates"</h3>
                <p>- Alexey Semeney, CEO DevTeamSpace</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption testimonial_post_2">
                <h3>"Slintel provided us the ammunition required to launch highly targeted marketing and sales campaigns in a
                    space where there is not much information available publicly. It helped improve the efficiency of our
                    sales reps and we were able to close more deals faster. Their customer service is top notch"</h3>
                <p>- Laura Kleffner, Marketing Director, Practice Match</p>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        // pageload animation start
        window.sr = ScrollReveal();
        // sr.reveal('.blog_card_container');
        // pageload animation ends

        $('.carousel').carousel({
            interval: 8000
        });

    });

</script>