<div class="contact_page_container">
    <div class="row contact_page_banner_block">
        <div class="contact_page_banner_text">
            <p>Close more deals!</p>
            <p class="sub_text">See how insights based prospecting can help your organization</p>
            <button class="btn" ng-click="scrollToForm()">Contact Us</button>
        </div>
    </div>

    <div class="career_job_block"></div>

    <hr class="form_block_contact_page">

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 contact_form">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input_field" ng-model="user.name" placeholder="Full name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input_field" ng-model="user.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input_field" ng-model="user.subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" ng-model="user.query" placeholder="Write your query.."></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block orange_btn btn-primary" ng-click="submitForm(user, 'contact_us')" ng-disabled="!(user.email)">Submit</button>
                </form>
                <p class="text-center">
                    <span ng-if="showMsg" class="green_text text-center">
                        <br> Thanks for the info. We will get back to you soon.
                        <br>
                    </span>
                </p>
            </div>
        </div>
    </div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner testimonial_post_block">

            <div class="item active">
                <div class="carousel-caption testimonial_post_1">
                    <h3>"Slintel captures a whole bunch of intel that helped us target a niche set of personas and customize
                        campaigns to their areas of interest. We were able to significantly improve our lead engagement rates"</h3>
                    <p>- Alexey Semeney, CEO DevTeamSpace</p>
                </div>
            </div>

            <div class="item">
                <div class="carousel-caption testimonial_post_2">
                    <h3>"Slintel provided us the ammunition required to launch highly targeted marketing and sales campaigns
                        in a space where there is not much information available publicly. It helped improve the efficiency
                        of our sales reps and we were able to close more deals faster. Their customer service is top notch"</h3>
                    <p>- Laura Kleffner, Marketing Director, Practice Match</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        // pageload animation start
        window.sr = ScrollReveal();
        // sr.reveal('.blog_card_container');
        // pageload animation ends

        $('.carousel').carousel({
            interval: 8000
        });

    });

</script>