<div class="jumbotron banner_block">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 banner_image_block">
                <img alt="Slintel Image" src="images/bann2.svg">
            </div>
            <div class="col-md-4 banner_side_text_block">
                <h1 class="banner_big_text banner_caption">Sales and Marketing intelligence to help you close more deals</h1>
                <p class="banner_small_text">
                    Boost conversion rates by getting in front of the
                    <span class="red_text">right prospects</span>
                    at the
                    <span class="red_text">right time,</span>
                    using the
                    <span class="red_text">right medium</span>
                    and with the
                    <span class="red_text">right content</span>
                    .
                </p>
                <p>
                    <a class="btn btn-primary btn-lg orange_btn" href="#" role="button" data-toggle="modal" data-target="#startFreeTrial">Start free trial</a>
                </p>
            </div>
        </div>
    </div>
    <div class="down_arrow_image">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
    </div>
</div>

<div class="scroll_down"></div>

<div class="row zigzag-strip main_pointers">
    <div class="container">
        <div class="row">
            <div class="col-md-4 main_pointers_1">
                <div class="main_pointers_image_block">
                    <img alt="Slintel Image" src="images/decision.svg">
                </div>
                <h4 class="pink_text">Data science for better decision making</h4>
                <p>Identify leads with the highest probability to close for your target areas</p>
            </div>
            <div class="col-md-4 main_pointers_2">
                <div class="main_pointers_image_block">
                    <img alt="Slintel Image" src="images/intel.svg">
                </div>
                <h4 class="light_green_text">Lead Intelligence for customized reach outs</h4>
                <p>Craft hyper relevant messaging based on buyer, company and industry intelligence</p>
            </div>
            <div class="col-md-4 main_pointers_3">
                <div class="main_pointers_image_block">
                    <img alt="Slintel Image" src="images/rocket.svg">
                </div>
                <h4 class="sky_blue_text">Improve sales and marketing productivity</h4>
                <p>Double down on leads and campaigns giving you the best response rates</p>
            </div>
        </div>
    </div>
</div>

<div class="row block_padding home_product_snapshot grey_bg">
    <div class="container">
        <h2>Product Infographic</h2>
        <div class="row">
            <div class="col-md-12">
                <img alt="Slintel Image" src="images/product_pages/product_design.png">
            </div>
        </div>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonial_post_block">

        <div class="item active">
            <div class="carousel-caption testimonial_post_1">
                <h3>"Slintel captures a whole bunch of intel that helped us target a niche set of personas and customize campaigns
                    to their areas of interest. We were able to significantly improve our lead engagement rates"</h3>
                <p>- Alexey Semeney, CEO DevTeamSpace</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption testimonial_post_2">
                <h3>"Slintel provided us the ammunition required to launch highly targeted marketing and sales campaigns in a
                    space where there is not much information available publicly. It helped improve the efficiency of our
                    sales reps and we were able to close more deals faster. Their customer service is top notch"</h3>
                <p>- Laura Kleffner, Marketing Director, Practice Match</p>
            </div>
        </div>
    </div>
</div>

<div class="row block_padding grey_bg">
    <div class="container">
        <h2>Business Benefits</h2>
        <div class="row business_benefits_blocks_container">
            <div class="col-md-12 business_benefits_blocks_holder">

                <div class="business_benefits_blocks white_bg business_benefits_blocks_1">
                    <img alt="Slintel Image" class="pull-left" src="images/lelad.png">
                    <h3 class="red_text">Boost conversions</h3>
                    <p>Improve conversion rates through deep prospecting.</p>
                </div>
                <div class="business_benefits_blocks white_bg business_benefits_blocks_2">
                    <img alt="Slintel Image" class="pull-left" src="images/time.png">
                    <h3 class="green_text">Improve Productivity</h3>
                    <p>Optimize outreach by combining lead and campaign intelligence.</p>
                </div>

                <div class="text-center business_man_img_block">
                    <img alt="Slintel Image" src="images/man.svg">
                </div>

                <div class="business_benefits_blocks white_bg business_benefits_blocks_3">
                    <img alt="Slintel Image" class="pull-left" src="images/opurtunity-1.png">
                    <h3 class="blue_text">In-depth research</h3>
                    <p>Access rich insights around leads, companies and sectors.</p>
                </div>
                <div class="business_benefits_blocks white_bg business_benefits_blocks_4">
                    <img alt="Slintel Image" class="pull-left" src="images/mail.png">
                    <h3 class="orange_text">Deeper engagement</h3>
                    <p>Engage prospects better with hyper targeted campaigns.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row block_padding weekly_post_block">
    <div class="container">
        <div class="weekly_post_content_block">
            <div class="row">
                <div class="col-md-7">
                    <h3>Join other business professionals reading the Slintel weekly posts.</h3>
                    <p>
                        <a class="btn btn-primary btn-lg orange_border_button" role="button" data-toggle="modal" data-target="#subscribe_modal">SUBSCRIBE TO NEWSLETTER</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row block_padding ">
    <div class="container">
        <h2>CRMs Supported</h2>
        <br>
        <div class="row crm_supported">
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/1.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/2.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/3.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/4.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/5.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/6.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/7.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/8.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/9.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/10.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/11.png">
            </div>
            <div class="col-xs-6 col-md-3">
                <img alt="Slintel Image" src="images/crms_supported/12.png">
            </div>
        </div>
    </div>
</div>

<div class="row zigzag-strip main_pointers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home_sign_up_form_block">
                <h1>Make sales and marketing intelligence your competitive advantage.</h1>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Work email" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary btn-md orange_btn">Start your free trial</button>
                </form>
                <span class="light_yellow_text">
                    <br> Thanks for the info. We will get back to you soon.
                    <br>
                </span>
                <h4>Give your sales and marketing teams freedom to focus on the stuff that matters. Spend less time researching
                    and more time closing deals.</h4>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="startFreeTrial" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">START YOUR FREE TRIAL NOW</h4>
            </div>
            <div class="modal-body form_input_design">
                <div class="container-fluid">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full name*">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Work email*">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Company name">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="Select_department">Select department</option>
                                <option>HR</option>
                                <option>IT</option>
                                <option>Engineering and Product</option>
                                <option>Sales</option>
                                <option>Marketing</option>
                                <option>Strategy</option>
                                <option>Operations</option>
                                <option>Finance</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-primary btn-block btn-lg orange_btn text-center">Get in Touch</button>
                    </form>
                    <h3 class="text-center blue_text">Thanks for the info!
                        <br>One of us will get in touch with you shortly.</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Subscribe -->
<div class="modal fade" id="subscribe_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SUBSCRIBE NEWSLETTER</h4>
            </div>
            <div class="modal-body form_input_design">
                <div class="container-fluid">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full name*">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Work email*">
                        </div>

                        <button type="button" class="btn btn-primary btn-block btn-lg orange_btn text-center">Subscribe to newsletter</button>
                    </form>

                    <h3 class="text-center blue_text">Thanks for subscribing Slintel newsletter!</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        // pageload animation start
        window.sr = ScrollReveal();
        sr.reveal('.main_pointers_1', { duration: 500 });
        sr.reveal('.main_pointers_2', { duration: 1000 });
        sr.reveal('.main_pointers_3', { duration: 1500 });
        sr.reveal('.weekly_post_content_block');
        sr.reveal('.business_benefits_blocks_1', { duration: 500 });
        sr.reveal('.business_benefits_blocks_2', { duration: 1000 });
        sr.reveal('.business_benefits_blocks_3', { duration: 1500 });
        sr.reveal('.business_benefits_blocks_4', { duration: 2000 });
        // pageload animation ends


        var velocity = 0.5;

        function update() {
            var pos = $(window).scrollTop();
            $('.weekly_post_block').each(function () {
                var $element = $(this);
                var height = $element.height() - 400;
                $(this).css('backgroundPosition', '60% ' + Math.round((height + pos) * velocity) + 'px');
            });
        };
        $(window).bind('scroll', update);

        $('.carousel').carousel({
            interval: 8000
        });



    });

</script>