<div class="container-fluid white_bg">
    <div class="row-fluid product_Screenshot_block">
        <div class="container">
            <h2 class="red_text">Made for the deals obsessed</h2>
            <div class="row">
                <div class="col-md-12">
                    <p class="heading_para_text">We capture information on hundreds of parameters ranging from buyer personas and preferences, technology
                        and financial insights, buying power, event driven insights, competitive insights, decision making
                        power and social media activity.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grey_bg border_bottom">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Lead & company intel all at one place</h2>
                    <p>Access verified emails and contact numbers along with deep insights on leads and companies. Choose the
                        right medium for reaching out and time the reach outs better.</p>
                </div>
            </div>
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/leadCard.png">
            </div>
        </div>
    </div>
</div>

<div class="white_bg">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/leadFlipover.png">
            </div>
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Company details for targeted outreach</h2>
                    <p>Look up company descriptions, products and services and top customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey_bg border_bottom">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Rich filters</h2>
                    <p>Filter companies and leads by technologies, social insights, company financials and budgetary cycles</p>
                </div>
            </div>
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/filter.png">
            </div>
        </div>
    </div>
</div>

<div class="white_bg">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/companyView.png">
            </div>
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Company selection & prioritization</h2>
                    <p>Look up companies you want to target and narrow your search. Focus on similar companies where you’ve
                        had most success</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row machine_learning_block">
    <div class="container">
        <div class="row product_Screenshot_special">
            <div class="col-md-12 product_Screenshot_text">
                <div class="col-md-offset-0 col-md-6 special_card">
                    <h3 class="blue_text">Deep prospecting engine powered by lead intelligence and machine learning</h3>
                    <p>Improve conversions via deep prospecting</p>
                    <p>
                        <small>- by capturing intel that helps launch the right campaigns for the right audience</small>
                    </p>
                </div>
            </div>
            <div class="col-md-12 product_Screenshot_text">
                <div class="col-md-offset-6 col-md-6 special_card">
                    <h3 class="blue_text">Improve productivity via machine learning</h3>
                    <p>Improve productivity via machine learning</p>
                    <p>
                        <small class="text-right">- through actionable insights based on what is working best for each user and across teams</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="grey_bg">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/compactView.png">
            </div>
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Single click export & integration with CRM</h2>
                    <p>Downland lead intel to a spreadsheet or export to your CRM</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="white_bg border_bottom">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Detailed lead & company pages</h2>
                    <p>Access full contact information of leads, and intel at a lead and company level</p>
                </div>
            </div>
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/detailPage.png">
            </div>
        </div>
    </div>
</div>

<div class="grey_bg">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/enriched.png">
            </div>
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Data Enrichment</h2>
                    <p>Enrich your data with deep insights on leads and companies</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="white_bg border_bottom">
    <div class="container">
        <div class="row product_Screenshot">
            <div class="col-md-3 product_Screenshot_text">
                <div class="love_orange_text">
                    <h2>Campaign customization</h2>
                    <p>Craft hyper targeted emails. Double down on what is working well - Templates, parameters, leads, companies</p>
                </div>
            </div>
            <div class="col-md-9 product_Screenshot_image">
                <img alt="Slintel Image" src="images/product_pages/email.png">
            </div>
        </div>
    </div>
</div>




<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonial_post_block">

        <div class="item active">
            <div class="carousel-caption testimonial_post_1">
                <h3>"Slintel captures a whole bunch of intel that helped us target a niche set of personas and customize campaigns
                    to their areas of interest. We were able to significantly improve our lead engagement rates"</h3>
                <p>- Alexey Semeney, CEO DevTeamSpace</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption testimonial_post_2">
                <h3>"Slintel provided us the ammunition required to launch highly targeted marketing and sales campaigns in a
                    space where there is not much information available publicly. It helped improve the efficiency of our
                    sales reps and we were able to close more deals faster. Their customer service is top notch"</h3>
                <p>- Laura Kleffner, Marketing Director, Practice Match</p>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // pageload animation start
        window.sr = ScrollReveal();
        sr.reveal('.product_Screenshot_text');
        sr.reveal('.product_Screenshot_image');
        // pageload animation ends

        var velocity = 0.5;

        function update() {
            var pos = $(window).scrollTop();
            $('.machine_learning_block').each(function () {
                var $element = $(this);
                var height = $element.height() - 50;
                $(this).css('backgroundPosition', '60% ' + Math.round((height + pos) * velocity) + 'px');
            });
        };
        $(window).bind('scroll', update);

        $('.carousel').carousel({
            interval: 8000
        });

    });

</script>