<div class="container-fluid white_bg our_team_page">

    <div class="row team_page_banner_block">
        <img alt="Slintel Image" src="images/team/team_page_banner.jpg">
        <div class="team_page_banner_text">
        </div>
        <div class="down_arrow_image hidden-xs hidden-sm">
            <i ng-click="scrollToForm()" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div class="scroll_down"></div>
    <br>
    <br>

    <div class="row team_page_team_block">
        <div class="container">
            <div class="row">
                <h2 class="red_text text-center">Team</h2>
                <br>

                <div class="col-md-4 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images pull-left">
                            <img alt="Slintel Image" src="images/team/deepak.png">
                        </div>
                        <div class="team_card_text">
                            <h3>Deepak Anchala</h3>
                            <h6>Captain</h6>
                            <p>Marches the team towards a common goal.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images pull-left">
                            <img alt="Slintel Image" src="images/team/Ranjana.jpg">
                        </div>
                        <div class="team_card_text">
                            <h3>Ranjana TN</h3>
                            <h6>Commander</h6>
                            <p>Keeps the lights on and everyone on their toes.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images pull-left">
                            <img alt="Slintel Image" src="images/team/gaja.png">
                        </div>
                        <div class="team_card_text">
                            <h3>Gajanan Sabhahit</h3>
                            <h6>Strategist</h6>
                            <p>Has a bundle of ideas and a solution for everything.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images pull-left">
                            <img alt="Slintel Image" src="images/team/rahul.jpg">
                        </div>
                        <div class="team_card_text">
                            <h3>Rahul Bhattacharya</h3>
                            <h6>Architect</h6>
                            <p>Can build anything and everything from scratch.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images pull-left">
                            <img alt="Slintel Image" src="images/team/akshay.jpg">
                        </div>
                        <div class="team_card_text">
                            <h3>Akshay Kumar</h3>
                            <h6>Magician</h6>
                            <p>Makes ordinary things look great and errors disappear.</p>
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row">
                <h2 class="red_text text-center">Data Ninjas</h2>
                <br>
                <div class="col-md-2 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images team_card_images_data_ninjas">
                            <img alt="Slintel Image" src="images/team/Umera.jpg">
                        </div>
                        <div class="team_card_text team_card_text_data_ninjas text-center">
                            <h3>Umera</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images team_card_images_data_ninjas">
                            <img alt="Slintel Image" src="images/team/Simanchala.jpg">
                        </div>
                        <div class="team_card_text team_card_text_data_ninjas text-center">
                            <h3>Simanchala</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images team_card_images_data_ninjas">
                            <img alt="Slintel Image" src="images/team/Rohini.jpeg">
                        </div>
                        <div class="team_card_text team_card_text_data_ninjas text-center">
                            <h3>Rohini</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images team_card_images_data_ninjas">
                            <img alt="Slintel Image" src="images/team/Gowthami.jpg">
                        </div>
                        <div class="team_card_text team_card_text_data_ninjas text-center">
                            <h3>Gowthami</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 team_card_block">
                    <div class="row-fluid">
                        <div class="team_card_images team_card_images_data_ninjas">
                            <img alt="Slintel Image" src="images/team/Nandini.jpg">
                        </div>
                        <div class="team_card_text team_card_text_data_ninjas text-center">
                            <h3>Nandini</h3>
                        </div>
                    </div>
                </div>

            </div>

            <hr>

        </div>
    </div>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonial_post_block">

        <div class="item active">
            <div class="carousel-caption testimonial_post_1">
                <h3>"Slintel captures a whole bunch of intel that helped us target a niche set of personas and customize campaigns
                    to their areas of interest. We were able to significantly improve our lead engagement rates"</h3>
                <p>- Alexey Semeney, CEO DevTeamSpace</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-caption testimonial_post_2">
                <h3>"Slintel provided us the ammunition required to launch highly targeted marketing and sales campaigns in a
                    space where there is not much information available publicly. It helped improve the efficiency of our
                    sales reps and we were able to close more deals faster. Their customer service is top notch"</h3>
                <p>- Laura Kleffner, Marketing Director, Practice Match</p>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // pageload animation start
        window.sr = ScrollReveal();
        // sr.reveal('.blog_card_container');
        // pageload animation ends

        $('.carousel').carousel({
            interval: 8000
        });

    });

</script>