@font-face {
	font-family: Brandon1;
	src: url(fonts/1.woff2);
}
@font-face {
	font-family: Brandon2;
	src: url(fonts/2.woff2);
}
@font-face {
	font-family: Brandon3;
	src: url(fonts/3.woff2);
}
@font-face {
	font-family: Brandon4;
	src: url(fonts/4.woff2);
}
body, html {
	height: 100%;
}
body{
	font-family: Brandon1,sans-serif;
}

.banner_caption{
	margin-top: 0;
    line-height: 53px;
}

.sub_text{
	font-size: 20px !important;
}
.small_image{
	max-width: 400px;
}

.navbar-default{
	border: none;
}
.position_relative{
	position: relative;
}
.position_absolute{
	position: absolute;
}

.hide_me{
	display: none;
}

.no_padding{
	padding:0;
}
.no_margin{
	margin: 0;
}

/*arrow btn*/
.down_arrow_image{
	position: absolute;
    bottom: 5px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 50px;
    color: #ccc;
}
.down_arrow_image i{
    cursor: pointer;
}
/*arrow btn*/


/* floating btn start*/
.jump_btn {
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
	bottom: 20px;
	-webkit-animation: bounce 1.5s ease-in-out; /* Safari 4.0 - 8.0 */
	animation: bounce 1.5s ease-in-out;
}
@keyframes bounce {
	0% {
		transform:translateY(-100%);
	}
	5% {
		transform:translateY(-100%);
	}
	15% {
		transform:translateY(0);
	}
	30% {
		transform:translateY(-50%);
	}
	40% {
		transform:translateY(0%);
	}
	50% {
		transform:translateY(-30%);
	}
	70% {
		transform:translateY(0%);
	}
	80% {
		transform:translateY(-15%);
	}
	90% {
		transform:translateY(0%);
	}
	95% {
		transform:translateY(-7%);
	}
	97% {
		transform:translateY(0%);
	}
	99% {
		transform:translateY(-3%);
	}
	100% {
		transform:translateY(0);
	}
}

.floating_contact_us_form{
	display: none;
	position: fixed;
	bottom: 60px;
	right: 20px;
	background: url(../images/pattern-1--dark.png), linear-gradient(-192deg, #40364D 37%, #9B4779 100%);
	overflow-x: hidden;
	overflow-y: auto;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	transition: height 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	padding: 20px 20px 30px 20px;
	margin-bottom: 10px;
	color: #fff;
	border-radius: 5px;
	width: 300px;
	font-family: Brandon3,sans-serif;
	z-index: 1;
}
.floating_contact_us_form h3{
	padding: 0;
	margin: 0 0 10px 0;
}
.floating_contact_us_fade_text{
	opacity: 0.5;
	font-family: Brandon3,sans-serif;
}

.floating_btn_block{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}

.floating_btn_block .floating_button{
	background: #f1703f;
	padding: 10px 20px;
	border-radius: 40%;
	cursor: pointer;
}
.floating_btn_block .floating_button span{
	font-size: 20px;
	color: #fff;
}
/* floating btn ends*/

.navbar{
	font-family: Brandon3,sans-serif;
}
.navbar-brand{
	padding: 10px;
}
.navbar-brand img{
	width: 90px;
}
.light_blue{
	background:#e9f1f2;
	border-bottom:1px solid #e9f1f2;
	transition: all .30s ease-in-out;
}


/*border*/
.border_bottom{
	border-top: 1px solid #9fc7cd;
	border-bottom: 1px solid #9fc7cd;
}
/*border*/
/*background color start*/
.grey_bg{background-color: #f7f8f9;}
.white_bg{background-color: #fff;}
.light_green_bg{background-color: #adb483;}
.light_blue_bg{background-color: #b3e5fc;}
.dark_blue_bg{background-color: #00ACC1;}
/*background color end*/

/*text color start*/
.pink_text{color:#f58d8c;}
.light_green_text{color:#adb483;}
.sky_blue_text{color:#9fc7cd;}
.red_text{color: #d45542;}
.green_text{color: #0d8337;}
.blue_text{color: #1464a3;}
.orange_text{color: #ca7a31;}
.love_orange_text{color: #f1703f;}
.light_orange_text{color: #f1703f;}
.light_yellow_text{color: #ffff8d;}
.light_green_text{color: #ccff90;}
.light_pink_text{color: #f8bbd0;}
.light_blue_text{color: #b3e5fc;}
.light_brown_text{color: #f0f4c3;}
.light_purple_text{color: #e1bee7;}
/*text color end*/

/*buttons*/
.orange_btn{
	font-family: Brandon3,sans-serif;
	background: #f1703f;
	border-color: #f1703f;
	transition: .5s;
}
.orange_btn:hover{
	background: #d9534f;
	border-color: #d9534f;
}

.orange_border_button{
	font-family: Brandon3,sans-serif;
	background: none;
	color: #555;
	border: 2px solid #f1703f;
	transition: .5s;
}
.orange_border_button:hover{
	color: #fff;
	background: #f1703f;
	border-color: #f1703f;
}


.banner_block{
	background:#fff;
	padding-top:85px;
	margin-bottom: 0;
	height: 100vh;
}
.banner_block .banner_image_block img{
	width: 100%;
}
.banner_side_text_block{
	position: relative;
	margin-top: 100px;
}
.banner_block .banner_big_text{
	font-family: Brandon1,sans-serif;
	font-size: 38px;
	text-align: left;
	color: #40364d;
}
.banner_block .banner_small_text{
	font-family: Brandon3,sans-serif;
	color: #5f6c73;
	font-size: 18px;
}
.block_padding{
	padding: 100px 0;
	margin: 0;
}

.graph_pattern{
	background: #adb483 url(../images/bright-squares.png) repeat 0 0;
	color: #fff;
	margin: 0;
}
.zigzag-strip {
	background: #40364d url(../images/bg-pattern.jpg) repeat 0 0;
	color: #fff;
	padding: 100px 0;
	margin: 0;
}
.main_pointers_image_block{
	height: 80px;
	position: relative;
}
.main_pointers h4{
	margin: 20px 0;
	font-family: Brandon3,sans-serif;
}
.main_pointers img{
	position: absolute;
	bottom: 0px;
	width: 80px;
}
.main_pointers p{
	font-family: Brandon3,sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
}

/*home_product_snapshot*/
.home_product_snapshot img{
	width: 100%;
}
/*home_product_snapshot*/

/*weekly_post_block start*/
.weekly_post_block{
	background:#ccc url(../images/business-wom-an.jpg);
	background-size: 110%;
	min-height: 500px;
	position: relative;
	vertical-align: middle;
}
.weekly_post_content_block{
	position: absolute;
	top: 30%;
}
.weekly_post_content_block h3{
	font-family: Brandon3,sans-serif;
}
.weekly_post_content_block p{
	margin-top:40px; 
}
.weekly_post_content_block p .btn{
	font-size: 15px;
	font-family: Brandon1,sans-serif;
	padding: 10px 30px;
}
/*weekly_post_block end*/

/*business benefits start*/
.business_man_img_block{
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 40px;
}
.business_man_img_block img{
	width: 300px;
}
.business_benefits_blocks_container{
	position: relative;
}
.business_benefits_blocks_holder{
	position: relative;
}
.business_benefits_blocks{
	position: absolute;
	padding: 20px;
	border:1px solid #eee;
	border-radius: 10px;
	width: 350px;
	color: #555;
	box-shadow: 5px 5px 10px 0px #eee;
	font-family: Brandon3,sans-serif;
	transition: all .30s ease-in-out;
}
.business_benefits_blocks:hover{
	box-shadow: 5px 5px 10px 0px #ccc;
}
.business_benefits_blocks img{
	width: 50px;
}
.business_benefits_blocks h3{
	margin: 8px;
	padding-left:50px ;
}
.business_benefits_blocks p{
	padding: 10px 0;
	clear: both;
}
.business_benefits_blocks_1{
	left:50px;
	top:50px;
}
.business_benefits_blocks_3{
	right:50px;
	top:50px;
}
.business_benefits_blocks_2{
	left:50px;
	bottom:50px;
}
.business_benefits_blocks_4{
	right:50px;
	bottom:50px;
}
/*business benefits end*/

/*testimonial_post_block start*/
.testimonial_post_block{
	background:#ccc url(../images/testimonial.png);
	min-height: 300px;
	max-height: 300px;
	position: relative;
}
.testimonial_post_block .carousel-caption{
	position: static;
	text-align: center;
	width: 85%;
	margin: auto;
	font-family: Brandon4,sans-serif;
	font-weight: lighter;
}
.testimonial_post_block .carousel-caption p{
	color: yellow;
}
.testimonial_post_block .testimonial_post_1{
	padding: 90px 0;
}
.testimonial_post_block .testimonial_post_2{
	padding: 80px 0;
}
/*testimonial_post_block end*/

/*crm_supported start*/
.crm_supported div{
	text-align: center;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #eee;
	transition: all .30s ease-in-out;
}
.crm_supported div:hover{
	border: 1px solid #ccc;
}
/*crm_supported end*/

/*home_sign_up_form_block start*/
.home_sign_up_form_block{
	font-family: Brandon3,sans-serif;
	text-align: center;
}
.home_sign_up_form_block h1{
	font-family: Brandon3,sans-serif;
	margin-bottom: 20px;
}
.home_sign_up_form_block h4{
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 25px;
	color: #ccc;
}
/*home_sign_up_form_block end*/

.scrolling {
	background-color: #f7f8f9;
	border-bottom:1px solid #e4e4e4;
	transition: background-color .30s ease-in-out;
}

/*machine_learning_block start*/
.machine_learning_block{
	background:#ccc url(../images/machineLearning.png);
	background-size: 110%;
	position: relative;
	vertical-align: middle;
	width: 100%;
	margin: 0;
}
/*machine_learning_block end*/

/*product_Screenshot_block start*/
.heading_para_text{
	letter-spacing: 0.5px;
	color:#555;
	font-size:20px !important;
}
.product_Screenshot_block{
	margin-top: 80px; 
	margin-bottom: 50px; 
}
.product_Screenshot_block .row{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
.product_Screenshot_block .group_heading{
	margin-left: 35px;
}
.product_Screenshot_block h2{
	font-family: Brandon3,sans-serif;
}
.product_Screenshot_block p{
	font-family: Brandon3,sans-serif;
	font-size: 18px;
}
.product_Screenshot{
	padding: 40px 0;
	/*display: flex;
	display: -webkit-flex;*/

}
.product_Screenshot .product_Screenshot_text{
	margin: auto;
}
.product_Screenshot .product_Screenshot_text div{
	position: relative;
	top:100px;
}
.product_Screenshot .product_Screenshot_text h2{
	font-family: Brandon3,sans-serif;
	font-size: 28px;
}
.product_Screenshot .product_Screenshot_text p{
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	color: #555;
}
.product_Screenshot .product_Screenshot_image img{
	width: 100%;
}
.product_Screenshot .product_Screenshot_text .special_card{
	background-color: #fff;
	border-radius: 5px;
	padding: 20px 20px;
	font-family: Brandon1,sans-serif;
	box-shadow: 0px 0px 10px 5px #1d2831;
	min-height: 150px;
}
.product_Screenshot .product_Screenshot_text .special_card h3{
	font-family: Brandon2,sans-serif;
	margin:0;
}
.product_Screenshot .product_Screenshot_text .special_card p{
	font-family: Brandon3,sans-serif;
	padding: 5px 0;
	margin: 0;
}
.product_Screenshot .product_Screenshot_text .special_card p small{
	font-family: Brandon3,sans-serif;
	text-align: right;
	font-size: 12px;
	margin: 0;
}


.product_Screenshot_special{
	padding: 40px 0;
}
.product_Screenshot_special .product_Screenshot_text{
	margin: auto;
}
.product_Screenshot_special .product_Screenshot_text .special_card{
	background-color: #fff;
	border-radius: 5px;
	padding: 20px 20px;
	font-family: Brandon1,sans-serif;
	box-shadow: 0px 0px 10px 5px #1d2831;
	min-height: 150px;
}
.product_Screenshot_special .product_Screenshot_text .special_card h3{
	font-family: Brandon2,sans-serif;
	margin:0;
}
.product_Screenshot_special .product_Screenshot_text .special_card p{
	font-family: Brandon3,sans-serif;
	padding: 5px 0;
	margin: 0;
}
.product_Screenshot_special .product_Screenshot_text .special_card p small{
	font-family: Brandon3,sans-serif;
	text-align: right;
	font-size: 12px;
	margin: 0;
}

/*product_Screenshot_block end*/


/*pricing_block start*/
.pricing_page{
	font-family: Brandon2,sans-serif;
	font-size: 40px;
}
.pricing_block_holder{
	text-align: center;
	font-family: Brandon1,sans-serif;
	color: #555;
}
.pricing_block{
	padding: 0;
}
.pricing_block sup{
	font-family: Brandon1,sans-serif;
	font-size: 20px;
	position: relative;
	top:-20px;
	left: -5px;
}
.pricing_block .pricing_card{
	background: #fff;
	border: 1px solid #d1d5d7;
	padding: 20px 0;
}
.pricing_block .pricing_card:hover{
	background: #fafafa;
}
.pricing_block .pricing_card p{
	font-family: Brandon3,sans-serif;
}
.pricing_big_text{
	margin: 0;
	font-size: 50px;
}
.pricing_card a{
	margin-top: 20px;
}

.pricing_bellow_text{
	text-align: center;
	font-family: Brandon3,sans-serif;
}
.pricing_bellow_text h2{
	text-align: center;
	font-family: Brandon2,sans-serif;
}
.pricing_bellow_text ul li{
	border: 1px solid #ccc;
	margin:10px 0;
	padding: 20px 10px;
	list-style: none;
	font-size: 20px;
	border-radius: 5px;
}
.pricing_bellow_text ul li span{
	font-family: Brandon4,sans-serif;
	font-size: 15px;
}
/*pricing_block end*/

/*blog_card_block start*/
.blog_card_container{
	margin: 10px 0 20px 0;
}
.blog_card_block{
	width: 318px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	margin: 0  auto;
}
.blog_card_block .blog_card_image{
	width: 318px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
.blog_card_block .resources_reports img{
	position: relative;
	top:-60px;
}
.blog_card_block .blog_card_image img{
	width: 100%;
}
.blog_card_block .blog_card_image .text_on_image{
	position: absolute;
	background: rgba(0,0,0,0.5);
	bottom: 0;
	width: 100%;
	color: #fff;
	font-family: Brandon3,sans-serif;
	font-weight: lighter;
	padding: 5px 10px;
	text-transform: uppercase;
	opacity: 0.9;
}
.blog_card_block .blog_card_footer{
	padding: 0px 15px 15px 15px;
	font-family: Brandon2,sans-serif;
}
.blog_card_block .blog_card_footer h4{
	/*text-transform: uppercase;*/
	height: 54px;
	font-size: 2rem;
	font-family: Brandon2,sans-serif;
	padding: 10px 0 0px 0;
}
.blog_card_block .blog_card_footer p{
	font-family: Brandon3,sans-serif;
}
.blog_card_block .blog_card_footer a{
	font-family: Brandon3,sans-serif;
	color: #555;
	background-color: #efefef;
	border-color: #999;
	padding: 7px 20px;
	margin-top:10px;
	transition: background-color .30s ease-in-out;
}
.blog_card_block .blog_card_footer a:hover{
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
}
/*blog_card_block start*/


/*detail_page_left_cards_block*/
.detail_page_container{
	overflow: hidden;
	margin-top: 100px;
}
.detail_page_left_cards_block{
	position: fixed;
	overflow: auto;
	width: 270px;
	height: 80vh;
	font-size:18px;

}
.detail_page_left_cards_block .detail_page_left_card{
	background: #fff;
	border: 1px solid #eee;
	border-radius: 2px;
	padding:20px 15px;
	color: rgba(0,0,0,0.6);
	position: relative;
	height: 130px;
}
.detail_page_left_cards_block .detail_page_left_card:hover{
	cursor: pointer;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}
.detail_page_left_cards_block .active{
	background: #eee;
    border: 1px solid #ccc;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}
.detail_page_left_cards_block .detail_page_left_card p{
	font-family: Brandon3,sans-serif;
	color: rgba(0,0,0,0.6);
}
.detail_page_left_cards_block .detail_page_left_card .detail_page_left_card_footer{
	font-family: Brandon3,sans-serif;
	position: absolute;
	color: rgba(0,0,0,0.3);
	bottom: 5px;
	margin: 0;
	right: 15px;
	font-size: 15px;
}

.detail_page_right_side_block .detail_page_right_side{
	clear: both;
	float: left;
}

.detail_page_right_side_block .detail_page_right_side h1{
	font-family: Brandon3,sans-serif;
	font-size: 30px;
	margin: 0;
}

.detail_page_right_side_banner{
	width: 100%;
	margin:20px 0;
	height: 400px;
	overflow: hidden;
}
.detail_page_right_side_banner img{
	width: 100%;
}
.detail_page_right_side_info_section{
	width: 100%;
	float: left;
}
.detail_page_right_side_info_section .author_image_block{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	border: 1px solid #ccc;
}
.detail_page_right_side_info_section .author_image_block img{
	width: 100%;
	height: 100%;
}
.detail_page_right_side_info_section .author_info_block{
	margin-left: 20px;
	float: left;
}
.detail_page_right_side_info_section .author_info_block h2{
	font-family: Brandon3,sans-serif;
	color: #00a6df;
}
.detail_page_right_side_info_section .author_info_block p{
	font-family: Brandon3,sans-serif;
	color: rgba(0,0,0,0.3);
	font-size: 17px;
}
.detail_page_right_side_content{
	margin: 20px 10px;
	float: left;
	clear:both;
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	color: rgba(0,0,0,0.7);
}
.detail_page_right_side_content ul li{
	padding-bottom: 10px;
}
.detail_page_right_side_content ol li{
	padding-bottom: 10px;
}
.detail_page_right_side_content p{
}
.detail_page_right_side_content img{
	width: 100%;
}
.content_divider{
	border: 1px solid #ccc;
	margin:0;
	padding: 0;
}
/*detail_page_left_cards_block*/

/*our_team_page*/
.team_page_banner_block{
	height: 100vh;
	overflow: hidden;
}
.team_page_banner_block img{
	width: 100%;
}
.team_page_banner_text{
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.team_page_banner_text p{
	font-family: Brandon3,sans-serif;
	font-size: 28px;
	margin: 0;
	color: #eee;
}
.team_page_banner_text button{
	color: #f1703f;
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	margin-top: 20px;
	border:1px solid;
	background: none;
	border-radius: 5px;
	padding: 15px 25px;
	transition:all 0.4s ease-in-out;
}
.team_page_banner_text button:hover{
	background: #f1703f;
	border-color: #f1703f;
	color: #fff;
}



.team_page_banner{
	width: 100%;
	overflow: hidden;
	height: 100vh;
}
.team_page_banner img{
	width: 100%;
}
.team_page_team_block{
	padding-top: 10px;
}
.our_team_page .team_card_block{
	height: 200px;
}
.our_team_page .team_card_block .team_card_images{
	width: 145px;
	height: 145px;
	overflow: hidden;
	border-radius: 5px;
	margin-right: 10px;
}
.our_team_page .team_card_block .team_card_images_data_ninjas {
	margin:0 auto !important;
}
.our_team_page .team_card_block .team_card_images img{
	width: 100%;
}
.our_team_page .team_card_block .team_card_text h3{
	margin: 0 0 12px 0;
	padding: 0;
	font-family: Brandon3,sans-serif;
}
.our_team_page .team_card_block .team_card_text_data_ninjas h3{
	margin: 10px 0 12px 0 !important;
	font-size: 18px !important;
}
.our_team_page .team_card_block .team_card_text h6{
	font-family: Brandon2,sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #f37070;
	line-height: 15px;
}
.our_team_page .team_card_block .team_card_text p{
	font-family: Brandon3,sans-serif;
	line-height: 1.5;
	color: #5f6c73;
	font-size: 15px;
}
/*our_team_page*/

/*career_page*/
.career_page_banner_block{
	height: 100vh;
	overflow: hidden;
}
.career_page_banner_block img{
	width: 100%;
}
.career_page_banner_text{
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.career_page_banner_text p{
	font-family: Brandon3,sans-serif;
	font-size: 28px;
	margin: 0;
	color: #eee;
}
.career_page_banner_text button{
	/*color: #f1703f;*/
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	margin-top: 20px;
	/*border:1px solid;*/
	/*background: none;*/
	background: #f1703f;
	border-color: #f1703f;
	color: #fff;
	border-radius: 5px;
	padding: 15px 25px;
	transition:all 0.4s ease-in-out;
}
.career_page_banner_text button:hover{
	background: #f1703f;
	border-color: #f1703f;
	color: #fff;
}
.career_tabs{

}
.career_tabs .btn{
	width: 100%;
	text-align: left;
	background: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-color:none;
}
.career_tabs .btn:active:hover{
	background: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-color:none;
}
.career_tabs:hover{
	background:#eee;
	cursor: pointer;
}
.career_page_heading{
	padding: 10px;
	position: relative;
	color: #555;
}
.career_page_heading h3{
	white-space: pre-line;
}
.career_page_heading:hover{
	color: #222;
}
.career_page_heading button{
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	height: 50px;
	padding: 0 30px;
	margin: auto;
}
.career_container{
	display: table;
    width: 100%;
}
.career_title{
	width: 300px;
}
.career_block{
	color:#555;
}
.career_block p{
	font-size: 17px;
	font-family: Brandon3,sans-serif;
}
.career_block li{
	font-size: 17px;
	padding: 2px 0;
	font-family: Brandon3,sans-serif;
}
.career_block .head{
	font-size: 17px;
	font-family: Brandon2,sans-serif;
}
.career_block .tag{
	background: #b3e5fc;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Brandon3,sans-serif;
    color: #000;
    float: left;
    margin: 3px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px #ccc;
}
@media only screen and (max-width: 600px) {
    .career_block { 
        display: block;
        width: 100%;
    }
}
/*career_page*/

/*contact page*/
.contact_page_banner_block{
	/*background: #adb483 url(../images/career.JPG) repeat 0 0;*/
	background-color: #f7f8f9;
	height: 100vh;
	position: relative;
	width: 100%;
	margin: 0;
}
.contact_page_banner_text{
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.contact_page_banner_text p{
	font-family: Brandon3,sans-serif;
	font-size: 48px;
	margin: 0;
	color: #555;
}
.contact_page_banner_text button{
	/*color: #f1703f;*/
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	margin-top: 20px;
	border:1px solid;
	background: #f1703f;
	color: #fff;
	/*background: none;*/
	background: #f1703f;
	border-color: #f1703f;
	color: #fff;
	border-radius: 5px;
	padding: 15px 25px;
	transition:all 0.4s ease-in-out;
}
.contact_page_banner_text button:hover{
	background: #f1703f;
	border-color: #f1703f;
	color: #fff;
}
.contact_page_container .contact_page_bg{
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	position: relative;
	font-family: Brandon3,sans-serif;
}
.contact_page_container .contact_page_bg .text_on_image img{
	width: 600px;
}
.contact_page_container .contact_form{
	padding: 100px 0;
}
.contact_page_container .input_field{
	padding: 30px 20px;
}
.contact_page_container .form-control{
	font-size: 18px;
}
.contact_page_container .contact_form label{
	font-size: 20px;
	font-family: Brandon3,sans-serif;
}
/*contact page*/

/*resource_download_block*/
.resource_download_block{
	font-family: Brandon3,sans-serif;
	background: #fff;
    border: 1px solid #E7E7E7;
    padding: 40px;
    color: #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.resource_download_block p{
	font-family: Brandon3,sans-serif;
}
.resource_download_block h2{
    color: #333;
    font-size: 26px;
}
.resource_download_block label{
	padding-bottom: 5px;
	font-family: Brandon3,sans-serif;
	color: #888;
}
.resource_download_block input{
	font-family: Brandon3,sans-serif;
	border-radius: 5px;
	padding: 25px;
	font-size: 18px;
}
.resource_download_block input::placeholder {
	font-family: Brandon3,sans-serif;
  	color: #ccc;
}
.resource_download_block button{
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	color: #fff;
}
.resource_preview{
	font-family: Brandon3,sans-serif;
	position: relative;
}
.resource_preview h1{
	text-align: center;
	font-family: Brandon3,sans-serif;
}
.resource_preview li{
	font-size: 18px;
}
.resource_preview_section .res_pre_img_block{
	margin: auto;
	overflow: hidden;
	box-shadow: 0px 1px 10px 1px #ccc;
	width: 100%;
}
.resource_preview_section .res_pre_img_block img{
	width: 100%;
}
.resource_preview_section p{
	color: #555;
}
.preview_btn{
	background: #cecece;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	text-align: center;
}
.preview_btn span{
	color: #999;
}
.preview_close_block{
	position: absolute;
	left:0;
	bottom: 0px;
	width: 100%;
}
.preview_close_block img{
	width: 100%;
}
/*resource_download_block*/

/*footer*/
#footer_section{
	padding: 0 !important;
	margin: 0 !important;
}
.nb-footer{
  background: #272727;
  padding-bottom: 30px;
}
.nb-copyright{
  background: #171717;
  padding-bottom: 10px;
  color: #555;
  font-family: Brandon3,sans-serif;
}
 .nb-copyright .copyrt{
  margin-top: 22px;
  font-size: 14px;
}
.nb-copyright .copyrt a{
  color: #ccc;
  font-family: Brandon3,sans-serif;
}
.nb-footer .footer-social{
	margin-top: 20px;
}
.nb-footer .footer-social i{
  padding: 5px 10px;
  color: #999;
  border: 1px solid #333;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-social i:hover{
  background: #f1703f;
  color: #fff;
}
.nb-footer .footer-social .fa-facebook{
  padding: 5px 14px;
}
.nb-footer .footer-menu{
	margin-top: 30px;
	color:#ccc;
	font-family: Brandon3,sans-serif;
	font-size: 12px;
}
.nb-footer .footer-menu li{
	cursor: pointer;
	letter-spacing: 1px;
}
.nb-footer .footer-menu li a{
	color:#ccc;
}
@media(max-width: 767px){
	 .xs-center{
		text-align: center;
	}
	 .left-clear{
		padding-left: 0;
	}
	 .right-clear{
		padding-right: 0;
	}
}
/*footer*/

/*form input*/
.form_input_design{
	margin: 20px 0;
}
.form_input_design form input{
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	height: 40px;
}
.form_input_design form input::placeholder{
	font-family: Brandon3,sans-serif;
	color: #ccc;
}
.form_input_design form select{
	font-family: Brandon3,sans-serif;
	font-size: 18px;
	height: 40px;
}
/*form input*/


/*media queries*/
/*@media (max-width: 768px) {
	.team_page_team_block{
		padding-top:60px;
	}
	.product_Screenshot {
		display: flex;
		flex-wrap: wrap;
	}
}*/

/*@media only screen and (max-width: 1024px) {
	.team_page_banner_block{
		height: 450px;
	}
    .team_page_banner img{
		position: relative;
		top:0px;
		width: 100%;
	}
}*/

@media only screen and (max-width: 1024px) {
	.team_page_banner_block{
		height: auto;
	}
	.career_page_banner_block{
		height: auto;
	}
	/*blog detail page*/
	.detail_page_left_cards_block{
		width:210px;
	}
	.career_page_banner_text{
		width: 90%;
	}
	.career_page_banner_text p{
		font-size: 20px;
	}
	.product_Screenshot .product_Screenshot_text div{
		top:0;
	}
}

@media only screen and (max-width: 990px) {
	.product_Screenshot .product_Screenshot_text div{
		top:0;
	}
}

@media only screen and (max-width: 768px) {
	.zigzag-strip{
		padding: 45px 0;
	}
	.main_pointers h4{
		margin: 20px 0 10px 0;
		font-size: 22px;
	}
	.main_pointers_1{
		margin-bottom: 30px;
	}
	.main_pointers_2{
		margin-bottom: 30px;
	}
	.main_pointers_3{
		margin-bottom: 30px;
	}
	.testimonial_post_block .testimonial_post_1{
		padding: 50px 0;
	}
	.testimonial_post_block .testimonial_post_2{
		padding: 50px 0;
	}
	.business_man_img_block{
		opacity: 0;
	}
	.weekly_post_block{
		min-height: 300px;
		background-size: 130%;
	}
	.weekly_post_content_block h3{
		width: 300px;
		margin: 0;
	}
}

@media only screen and (max-width: 736px) {
	.banner_image_block img{
		display: none;
	}
	.banner_side_text_block{
		margin: 0;
	}
}

@media only screen and (max-width: 732px) {
	.banner_image_block img{
		display: none;
	}
	.banner_side_text_block{
		margin: 0;
	}
}

@media only screen and (max-width: 667px) {
	.business_benefits_blocks_1{
		left:20px;
	}
	.business_benefits_blocks_2{
		left:20px;
	}
	.business_benefits_blocks_3{
		right:20px;
	}
	.business_benefits_blocks_4{
		right:20px;
	}
	.block_padding{
		padding: 20px 0;
	}
}

@media only screen and (max-width: 640px) {
	.down_arrow_image{
		display: none;
	}
	.career_page_banner_block img{
		position: relative;
		top:40px;
	}
	.banner_image_block img{
		display: none;
	}
	.banner_side_text_block{
		margin: 0;
	}
	.business_benefits_blocks{
		position: static;
		margin: 10px auto 10px auto;
	}
	.business_man_img_block{
		display: none;
	}
	.block_padding{
		padding: 20px 0;
	}
	.team_page_banner_block{
	    background-position: -850px -53px;
	}
	.career_page_banner_block{
	    background-position: -850px -53px;
	}
}

@media only screen and (max-width: 414px) {
	.banner_image_block img{
		display: block;
	}
	.banner_side_text_block{
		margin-top:10px;
	}
	.banner_side_text_block .btn{
		width: 100%;
	}
	.banner_block .banner_big_text{
		line-height: 42px;
	}
	.zigzag-strip{
		padding: 35px 0;
		text-align: center;
	}
	.main_pointers img{
		position: static;
	}
	.main_pointers h4{
		margin:20px 0 5px 0;
	}
	.main_pointers_1{
		margin-bottom: 20px;
	}
	.main_pointers_2{
		margin-bottom: 20px;
	}
	.main_pointers_2 .main_pointers_image_block img{
		width: 70px;
	}
	.main_pointers_3{
		margin-bottom: 20px;
	}
	.block_padding{
		padding: 25px 0;
	}
	.block_padding h2{
		text-align: center;
	}
	.home_product_snapshot{
		overflow: hidden;
	}
	.home_product_snapshot h2{
		padding-bottom: 20px;
	}
	.home_product_snapshot img{
		width: 250%;
    	position: relative;
    	left: -292px;
	}
	.testimonial_post_block .testimonial_post_1{
		padding: 0;
	}
	.testimonial_post_block .testimonial_post_2{
		padding: 0;
	}
	.testimonial_post_block h3{
		font-size: 21px;
	}
	.business_benefits_blocks{
		position: static;
		margin: 10px auto;
	}
	.business_man_img_block{
		display: none;
	}
	.weekly_post_block{
		min-height: 300px;
		background-size: 412%;
	}
	.weekly_post_content_block{
		top:auto;
	}
	.weekly_post_content_block h3{
		width: 230px;
	}
	.home_sign_up_form_block h1{
		font-size: 30px;
	}

	/*blog detail page*/
	.detail_page_right_side_banner{
		height: auto;
	}
}

@media only screen and (max-width: 375px) {
	.home_product_snapshot img{
		left: -263px;
	}
}

@media only screen and (max-width: 360px) {
	.banner_image_block{
		text-align: center;
		display: none;
	}
	.banner_side_text_block{
		margin-top: 0;
	}
	.banner_side_text_block p{
		margin-bottom: 30px;
	}
	.banner_side_text_block .btn{
		width: 100%;
	}
	.banner_side_text_block .banner_big_text{
		font-size: 50px;
		line-height: 56px;
		color: #555;
		text-align: center;
	}
	.banner_side_text_block .banner_small_text{
		font-size: 18px;
	}
	.zigzag-strip{
		padding: 30px 0;
	}
	.main_pointers_image_block{
		text-align: center;
	}
	.main_pointers img{
		position: static;
	}
	.main_pointers_1{
		margin-bottom: 25px;
		text-align: center;
	}
	.main_pointers_2{
		margin-bottom: 25px;
		text-align: center;
	}
	.main_pointers_2 img{
		width: 70px;
	}
	.main_pointers h4{
		margin:20px 0 10px 0;
		font-size: 20px;
		text-align: center;
		letter-spacing: 0.6px;
	}
	.main_pointers_3{
		margin-bottom: 25px;
		text-align: center;
	}
	.block_padding{
		padding: 20px 0 40px 0;
    	overflow: hidden;
	}
	.block_padding h2{
		text-align: center;
		padding:0 0 15px 0;
	}
	.home_product_snapshot img{
		width: 250%;
    	position: relative;
    	left: -252px;
	}
	.testimonial_post_block .item div{
		padding: 0;
	}
	.testimonial_post_block .item div h3{
		font-size: 20px;
	}
	.business_benefits_blocks{
		position: static;
		margin:0 auto 10px auto;
	}
	.business_man_img_block{
		display: none;
	}
	.weekly_post_block{
		min-height: 300px;
		background-size: 412%;
	}
	.weekly_post_content_block{
		top:auto;
	}
	.weekly_post_content_block h3{
		width: 230px;
	}
	.home_sign_up_form_block h1{
		font-size: 25px;
    	line-height: 30px;
	}

	/*blog detail page*/
	.detail_page_right_side_banner{
		height: auto;
	}
}

@media only screen and (max-width: 320px) {
	.banner_side_text_block .banner_big_text{
		font-size: 40px;
    	line-height: 45px;
	}
	.home_product_snapshot img{
		left: -222px;
	}
	.testimonial_post_block .item div h3{
		font-size: 18px;
	}
	.business_benefits_blocks{
		width: auto;
	}
}

/*@media only screen and (max-width: 500px) {
	.banner_side_text_block{
		margin-top: 0;
	}
	.banner_side_text_block .banner_big_text{
		font-size: 25px;
	}
	.team_page_team_block{
		padding-top:60px;
	}
	.team_page_banner_block{
		height: 250px;
	}
    .team_page_banner img{
		position: relative;
		top:0px;
		width: 100%;
	}
}*/

/*@media only screen and (max-width: 320px) {
	.team_page_team_block{
		padding-top:0px;
	}
	.team_page_banner_block{
		height: 200px;
	}
}*/

/*@media only screen and (max-width: 736px) {
	.team_page_team_block{
		padding-top:60px;
	}
}*/