<!doctype html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NS3CGHP');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <base href="/">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="images/favicon.png">
    <meta name="keywords" content="Lead intelligence,Company intelligence,Sales intelligence ,Marketing intelligence ,Campaign intelligence ,Sales triggers,Marketing triggers,Sales productivity ,Marketing productivity,Increase sales ,More sales,Increase conversions,More conversions,Increase revenue ,More revenue ,ATS insights,ATS customers,Best time to reach out,Best channel to reach out,Best content to reach out,Contact details,Emails,Phone numbers,Fiscal year,Revenue,Ebitda,Funding,Company size,Job requisitions,HR tools,HR Intel,HR decision makers,HR contact details ,Buying power,Decision making power,Social media strategy ,Greenhouse customers,Icims customers ,Taleo customers,Lever customers,Workday customers,Workable customers,Jobvite customers,JazzHR customers,Smartrecruiters customers ,Successfactors customers ,Bullhorn customers">

    <meta name="description" content="Sales and Marketing intelligence to help you close more deals. Boost conversion rates by getting in front of the right prospects at the right time, using the right medium and with the right content.">
    <meta name="robots" content="noarchive">

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custom styles -->

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="libs/bootstrap/dist/js/bootstrap.min.js">
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/scrollreveal/dist/scrollreveal.min.js"></script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS3CGHP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container-fluid no_padding no_padding no_margin">
        <div class="header">
            <nav class="navbar navbar-default web_Nav white_bg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img alt="Slintel Image" src="images/slintel_logo.png">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/" class="hidden-xs">HOME</a>
                            </li>
                            <li>
                                <a href="/" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">HOME</a>
                            </li>

                            <li>
                                <a href="/product" class="hidden-xs">PRODUCT</a>
                            </li>
                            <li>
                                <a href="/product" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">PRODUCT</a>
                            </li>

                            <li>
                                <a href="/blog" class="hidden-xs">BLOG</a>
                            </li>
                            <li>
                                <a href="/blog" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">BLOG</a>
                            </li>

                            <li>
                                <a href="/resources" class="hidden-xs">RESOURCES</a>
                            </li>
                            <li>
                                <a href="/resources" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">RESOURCES</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">MORE
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/team" class="hidden-xs">Team</a>
                                    </li>
                                    <li>
                                        <a href="/team" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Team</a>
                                    </li>

                                    <li>
                                        <a href="/careers" class="hidden-xs">Careers</a>
                                    </li>
                                    <li>
                                        <a href="/careers" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Careers</a>
                                    </li>
                                    <li>
                                        <a href="/contact" class="hidden-xs">Contact</a>
                                    </li>
                                    <li>
                                        <a href="/contact" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Contact</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="btn btn-danger navbar-btn orange_btn" data-toggle="modal" data-target="#getInTouch">Get in Touch</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {{{body}}}

        <hr id="footer_section">
        <footer>
            <section class="nb-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="list-inline footer-social">
                                <li>
                                    <a href="https://www.facebook.com/Slintel-1070643269715139/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/slintel_inc" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://in.linkedin.com/company/slintel" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-inline footer-menu">
                                <li>
                                    <a href="/">HOME</a>
                                </li>
                                <li>
                                    <a href="product">PRODUCT</a>
                                </li>
                                <li>
                                    <a href="blog">BLOG</a>
                                </li>
                                <li>
                                    <a href="resources">RESOURCES</a>
                                </li>
                                <li>
                                    <a href="team">TEAM</a>
                                </li>
                                <li>
                                    <a href="careers">CAREERS</a>
                                </li>
                                <li>
                                    <a href="contact">CONTACT</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>

            <section class="nb-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 copyrt text-center">
                            2017 © All Rights Reserved.
                            <a href="">Terms & Conditions</a> |
                            <a href="">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <script type="text/javascript">
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 300) {
                    $(".web_Nav").addClass("scrolling");
                } else {
                    $(".web_Nav").removeClass("scrolling");
                }
            });
        </script>

        <script type="text/javascript">
            _linkedin_data_partner_id = "225772";
        </script>
        <script type="text/javascript">
            (function () {
                var s = document.getElementsByTagName("script")[0];
                var b = document.createElement("script");
                b.type = "text/javascript"; b.async = true;
                b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
                s.parentNode.insertBefore(b, s);
            })();
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=225772&fmt=gif" />
        </noscript>
    </div>
</body>

</html>